.sketchpad {
    width: 320px;
    height: 320px;
    margin: 0 auto;
}

.box {
    display: inline-block;
    background-color: grey;
    vertical-align: top;
}

.box:hover {
    background-color: black;
}