.container {
  margin: 50px auto;
  width: 50%;
  text-align: center;
}

h1 {
    font-size: 4em;
    font-family: 'Prompt', sans-serif;
    color: #585858;
}

#sketchpad {
    margin: 50px;
    height: 500px;
    border: 100px;
}

.box {
    display: inline-block;
    vertical-align: top; 
    background-color: #909090;
}

.control-panel {
    width: 100%;
    margin: 50px auto;
    vertical-align: top;
}

button {
    font-size: 1em;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
}

.main {
    margin: 0 auto;
    width: 50%;
}

.draw {
    width: 50%;
    float: left;
}

.erase {
    width: 50%;
    float: right;
}

#minus {
    position: absolute;
    left: 25%;
}

#plus {
    position: absolute;
    right: 25%;
}
